@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

.page {
  background-color: #000000;
  color: #FFFFFF;
  max-width: 1280px;
}

.header {
  margin: auto;
  border-bottom: 1px solid #545454;
  width: 68.75%;    
  height: 119px;
  margin-bottom: 40px;
}

.profile {
  margin: auto;
}

.header__logo {
  padding-top: 45px;
  width: 142px;
  height: 33px;
}


.profile__avatar {
  width: 127.5px;
  min-width: 127.5px;
  height: 127.5px;
  background-image: url(./images/custeau.jpg);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: cover;
}

.profile__title {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__subtitle {
  margin: 16px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.profile__editbutton {
  width: 24px;
  height: 24px;
  background-image: url(./images/editButton.svg);
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.profile__addbutton {
  background-image: url(./images/addButton.svg);
  background-color: #000000;
  border: none;
}

.elements {
  margin: auto;
  display: grid;
  color: #000000;
  margin-top: 47.25px;
  margin-bottom: 67px;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
}

.elements__element {
  height: 362px;
  background-color: #FFFFFF;
  overflow: hidden;
  border-radius: 10px;
}

.elements__karachaevsk {
 background-image: url(./images/karacha.jpg);
 background-repeat: no-repeat;
 height: 282px;
 background-size: cover;
}

.elements__elbrus {
  background-image: url(./images/elbrus.jpg);
  background-repeat: no-repeat;
  height: 282px;
  background-size: cover;
}

.elements__dombai {
  background-image: url(./images/dombai.jpg);
  background-repeat: no-repeat;
  height: 282px;
  background-size: cover;
}

.elements__sochi {
  background-image: url(./images/sochi.jpg);
  background-repeat: no-repeat;
  height: 282px;
  background-size: cover;
}

.elements__vitebsk {
  background-image: url(./images/vitebsk.jpg);
  background-repeat: no-repeat;
  height: 282px;
  background-size: cover;
}

.elements__los-angeles {
  background-image: url(./images/los-angeles.jpg);
  background-repeat: no-repeat;
  height: 282px;
  background-size: cover;
}

.elements__group {
  display: flex;
  justify-content: space-between;
}

.elements__title {
  margin: 25px 0 0 21px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__heart {
  width: 22px;
  height: 19px;
  background-image: url(./images/heart.svg);
  margin-top: 30px;
  margin-right: 30px;
}

.footer__title {
  margin: 0;
  padding-bottom: 60px;
  margin-left: 15.6%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.edit-form {
  position: fixed;
  width: 430px;
  height: 330px;
  left: 425px;
  top: 195px;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  display: none;
}

.edit-form_active {
  display: block;
}

.edit-form__title {
  margin: 0;
  margin-top: 34px;
  margin-left: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.edit-form__field1 {
  margin: 0;
  margin-top: 54px;
  margin-left: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

.edit-form__field2 {
  margin: 0;
  margin-top: 30px;
  margin-left: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

.edit-form__submit-button {
  width: 83.25%;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  margin-left: 36px;
  margin-top: 48px;
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.edit-form__line {
  margin: auto;
  width: 358px;
  height: 1px;
  background-color: #000000;
  opacity: 0.2;
  margin-top: 13px;
}

.edit-form__close-icon {
  height: 40px;
  width: 40px;
  background-image: url(./images/close-icon.svg);
  background-color: #000000;
  background-size: contain;
  border: none;
  position: absolute;
  top: -38px;
  right: -38px;
  cursor: pointer;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    display: block;
    width: 85%;
   }
 
  .profile__avatar {
    margin: auto;
  }
 
  .profile__info {  
   text-align: center;  
  }
 
  .profile__editbutton {
    margin-top: -70px;
    float: right;
    margin-right: 15%;   
  }
 
  .elements {
    width: 85%;
  }
 
  .profile__addbutton {
    margin-top: 22.5px;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
 }
 
 .profile__title {
   margin-top: 22.25px;
 }
 
 }

@media screen and (min-width: 1280px) {
  .profile__info {
    margin-left: 4px;
  }

  .profile__avatar {
    position: relative;
    left: -10px;
    top: -10px;
  }

  .profile__editbutton {
    margin-left: 18px;
    margin-top: 15px;
  }

  .elements {
    width: 68.75%;
  }

  .profile__addbutton {
    margin-left: 29.5%;
    width: 150px;
    height: 50px;
  }

  .profile__title {
    margin: 0;
  }

  .profile {
    display: flex;
    width: 68.75%;
  }
}

