.edit-form__field2 {
  margin: 0;
  margin-top: 30px;
  margin-left: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
}