.header__logo {
  padding-top: 45px;
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    padding-top: 28px;
    margin-left: 27px;
    margin-bottom: 31.6px;
    width: 103.74px;
    height: 24.4px;
  }
}