.profile__title {
  margin-bottom: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
  width: 300px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__title {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    width: 190px;
    margin-top: 22.25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__title {
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .profile__title {
    margin-top: 15px;
  }
}