.edit-form__input-line {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);  
  margin: 0;
  margin-left: 36px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .edit-form__title {
    margin-left: 22px;
  }
}