.profile__addbutton {
  height: 50px;
  background-color: #000000;
  border: none;
  cursor: pointer;
  width: 282px;
  background-image: url(../../../images/addButton-big.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.profile__addbutton:hover {
  opacity: 0.6;
  transition: 0.5s ease-in-out 0.2s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__addbutton {
    margin: auto;
    margin-top: 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__addbutton {    
    margin: auto;
    margin-top: 22.5px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__addbutton {
    background-image: url(../../../images/addButton.svg);
    margin-left: 25%;
    width: 150px;
    margin-top: 30px;
  }
}