.profile__avatar {
  width: 127.5px;
  min-width: 127.5px;
  height: 127.5px;
  background-image: url(../../../images/custeau.jpg);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__avatar {
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__avatar {
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  .profile__avatar {
    position: relative;
    left: -10px;
    top: -10px;
  }
}