.content-border {
  margin: auto;
  height: 1px;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
  margin-bottom: 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .content-border {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .content-border {
    width: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .content-border {
    width: 880px;
  }
}