.image-popup__image {
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .image-popup__image {
    width: 240px;
    height: 299px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .image-popup__image {
    width: 545px;
    height: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .image-popup__image {
    width: 830px;
    height: 540px;
  }
}