.edit-form__close-icon {
  height: 40px;
  width: 40px;
  background-image: url(../../../images/close-icon.svg);
  background-color: #000000;
  background-size: contain;
  border: none;
  position: absolute;
  top: -38px;
  right: -38px;
  cursor: pointer;
}

.edit-form__close-icon:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .edit-form__close-icon {
    top: -40px;
    right: -1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .edit-form__close-icon {
  top: -40px;
  right: -1px;
  }
}