.addcard-popup__submit-button {
  border: none;
  padding: 0;
  width: 83.25%;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  margin-left: 36px;
  margin-top: 48px;
  color: #FFFFFF;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.addcard-popup__submit-button:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out 0.2s;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .addcard-popup__submit-button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-left: 22px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
  }
}